 <p>Sign In Page</p>



 

 <%= form_tag("/signin", method: "post") do %>
 <label for="name">Name:</label><br>
 <input type="text" name="user[name]" id="user[name]"><br>
 <label for="password">Password:</label><br>
 <input type="password" name="user[password]" id="password"> 
  <%= submit_tag("Sign In") %>
<% end %>

